@import url("https://use.typekit.net/hsh8cjn.css");

@layer base {
  @font-face {
    font-family: 'Made Mountain';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Made-Mountain-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Bilo Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Made-Mountain-Regular.woff2) format('woff2');
  }

  h1,
  .h1 {
    @apply text-5xl leading-[1.2] font-serif;

  }

  h2,
  .h2 {
    @apply text-4xl leading-[1.2] font-serif;

  }

  h3,
  .h3 {
    @apply text-2xl leading-[1.2] font-serif;

  }

  h4,
  .h4 {
    @apply text-xl leading-[1.2] font-sans font-bold;
  }

  .body-regular-sm {
    @apply text-sm font-sans font-normal;
  }

  .body-regular-base {
    @apply text-base font-sans font-normal;
  }

  .body-medium-base {
    @apply text-base font-sans font-semibold;
  }

  .body-medium-lg {
    @apply text-lg font-sans font-semibold;
  }

  .body-medium-3xl {
    @apply text-3xl font-sans font-semibold;
  }

  .body-bold-base {
    @apply text-base font-sans font-bold;
  }

  .body-bold-lg {
    @apply text-lg font-sans font-bold;
  }

  .body-bold-xl {
    @apply text-xl font-sans font-bold;
  }

  .body-bold-2xl {
    @apply text-2xl font-sans font-bold;
  }

  .router-link-active {
    @apply relative 
    /* after:content-[''] after:w-1 after:h-1 after:bg-white after:inline-block after:rounded-full after:absolute after:left-[12.5px] after:bottom-[-9px]; */
  }

  .link {
    @apply text-tv-wine underline flex items-center gap-1;
  }

  form {
    width: 100%;
  }

  input {
    @apply max-h-12 bg-red-200;
  }

  textarea.btn {
    @apply rounded-3xl;
  }

  form {
    input:not([type="submit"]),
    select,
    textarea {
      @apply w-full bg-tv-eggshell text-tv-wine min-h-12 py-3 px-5 border-2 border-gray-300 rounded-xl shadow-md flex gap-2 items-center body-medium-base leading-5 focus-visible:outline outline-2 outline-tv-wine !important;
    }
    button {
      @apply mt-4;
    }
  }


  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    @apply body-regular-base;
  }

  form label {
    @apply body-medium-lg;
  }

  .tv-text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  }

}

